/*all elements*/
* {
	box-sizing: border-box; /*includes padding and border in element's total width and height*/
}

/*body element*/
body {
	font-family: sans-serif;
	margin: 0; /*body fully stretches to the screen's edge*/
}

/*navbar*/
nav {
	background-color: black;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

/*navbar anchor tags*/
nav a {
	float: left;
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 20px;
}

/*navbar anchor tag hover effects*/
nav a:hover {
	background-color: whitesmoke;
	color: black;
	font-weight: bold;
}

/*video background*/
video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

/*video text and home section*/
header {
	background: rgba(0,0,0,0.5);
	color: whitesmoke;
	width: 100%;
	padding: 40px;
	margin-top: 200px;
}

/*row sections containing both column 1 and 2*/
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*text columns*/
.column1 {
	float: left;
	width: 50%;
	padding: 15px;
	height: 480px;
	background-color: rgba(255,255,255,0.7);
}

/*image columns*/
.column2 {
	float: left;
	width: 50%;
	padding: 15px;
	height: 480px;
	background-color: rgba(0,0,0,0.2);
}

/*h1 and h2 elements*/
h1, h2 {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 50px;
}

/*h1 and h2 hover effects*/
header:hover > h1, div:hover > h2 {
	transform: scale(1.15);
	transition: all 0.5s;
}

/*header's paragraph element*/
header p {
	text-align: center;
}

/*paragraph elements*/
p {
	padding: 0px 15px;
	text-align: justify;
	font-size: 20px;
	letter-spacing: 1px;
}

/*paragraph element's hover effects*/
header:hover > p, div:hover > p {
	transform: scale(1.05);
	transition: all 0.5s;
}

/*images*/
img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	filter: grayscale(50%);
	border-radius: 5px;
}

/*image hover effects*/
img:hover {
	transform: scale(1.03);
	transition: all 0.5s;
	filter: grayscale(0%);
}

/*form inputs*/
input[type="text"], input[type="email"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/*form submit button*/
input[type="submit"] {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 15px 30px;
	margin: 30px auto;
	display: block;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

/*form submit button hover effect*/
input[type="submit"]:hover {
	background-color: rgba(0,0,0,0.2);
	color: black;
	transform: scale(1.1);
	transition: all 0.5s;
}

/*form hover effects*/
div:hover > form {
	transform: scale(1.01);
	transition: all 0.5s;
}